@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resize the title without overiding the "text-6xl" class*/
@media (min-width: 640px) {
  .sm\:text-5-5xl {
    font-size: 3.6rem /* 60px */;
    line-height: 1;
  }
}

html {
  scroll-behavior: smooth;
}

/* Underline animation */
.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f43f5e;
  transition: width 0.6s ease-out;
}

.hover-underline:hover::after {
  width: 100%;
}

/* Logo styling*/
.logo-hat {
  position: relative;
  right: 15px;
  rotate: -15deg;
  top: 26px;
  z-index: 100;
}

.logo-hat-sm {
  position: relative;
  right: 77px;
  rotate: -15deg;
  top: 16.5px;
  z-index: 100;
}

/* My Classes */

.header-w {
  font-style: normal;
  line-height: 48px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.corner {
  position: relative;
  height: 50px;
  right: -110px;
  top: 57px;
  z-index: 100;
  overflow: hidden;
}

/* Student Welcome */

.module {
  background: linear-gradient(98.5deg, #cc6772 53.12%, #dfcff7 155.43%);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.module-t {
  background: linear-gradient(90deg, #cc6772 46%, #dfcff7 100%);
  border-radius: 16px;
}

.banner-user {
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  background: linear-gradient(90deg, #cc6772 0%, #dbb8da 78.1%, #dfcff7 100%);
  /* Inside auto layout */
}

.user-email {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
}

.account {
  background: #be5a6c;
  border-radius: 10px;
}

nav svg {
  color: white;
}

/* Courses Style */
.class-card-header {
  position: relative;
  justify-content: space-between;
}

.icon {
  font-size: 28px;
}

.header-decoration {
  background-color: #d14a5a; /* Your red color */
  height: 40px;
  width: 40px;
  border-radius: 0 6px 0 6px;
  position: absolute;
  top: -25px;
  right: -25px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  margin: 2px 0;
}

.course-code {
  font-weight: bold;
  margin-top: 16px;
}

.course-description {
  color: #6b7280;
  font-size: 14px;
}

.student-tag {
  box-sizing: border-box;
  /* width: 102px; */
  border: 2px solid #333333;
  box-shadow: 0px 4px 0px #333333;
  border-radius: 100px;
}

.comment {
  align-items: flex-start;
  padding: 16px 24px;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 32px 32px 32px 0px;
}
